In [1]:
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle
from sklearn.model_selection import train_test_split

In [8]:
import pandas as pd
data = pd.read_csv('data/Churn_Modelling.csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [9]:
# Dropping irrelevant
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [10]:
# Encoding Categorical features
label_encoder_gender = LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [11]:
one_hot_encoder = OneHotEncoder()
geo_encoder = one_hot_encoder.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=one_hot_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [12]:
# Combining one hot encoded with original df
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [13]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [14]:
# Divide data to independent and dependent data (Estimated Salary in our case)
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [16]:
scaler= StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# Saving Encoders and Scalers
with open('label_encoder_gender_reg.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open('one_hot_encoder_reg.pkl','wb') as file:
    pickle.dump(one_hot_encoder,file)
    
with open('scaler_reg.pkl','wb') as file:
    pickle.dump(scaler,file)

### ANN Implementation

In [19]:
import tensorflow as tf
from tensorflow.keras.models  import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

c:\Projects\ANN_Project\venv\Lib\site-packages\keras\src\export\tf2onnx_lib.py:8: FutureWarning: In the future `np.object` will be defined as the corresponding NumPy scalar.
  if not hasattr(np, "object"):

In [20]:
# Building our ANN model
model = Sequential(
    [
        Input(shape=(X_train.shape[1],)),
        Dense(64,activation='relu'), # HL1
        Dense (32,activation='relu'), # HL2
        Dense(1) #O/P layer  Default activation function for these is regression
    ]
)

In [22]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [23]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [24]:
# Logs
log_dir = 'logs_reg/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [25]:
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [26]:
history = model.fit(
    X_train,y_train, validation_data = (X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100380.3750 - mae: 100380.3750 - val_loss: 98525.0391 - val_mae: 98525.0391
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 99642.8906 - mae: 99642.8906 - val_loss: 97010.0703 - val_mae: 97010.0703
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 96967.9922 - mae: 96967.9922 - val_loss: 93068.1172 - val_mae: 93068.1172
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 91666.0078 - mae: 91666.0078 - val_loss: 86453.8047 - val_mae: 86453.8047
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 83931.0156 - mae: 83931.0156 - val_loss: 77965.2578 - val_mae: 77965.2578
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 74840.2734 - mae: 74840.2734 - val_loss: 69022.2344 - val_mae: 69022.2344
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 66015.4609 - mae: 66015.4609 - val_loss: 61286.8594 - val_mae: 61286.8594
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 58903.0391 - mae: 58903.0391 - val_loss: 55700.5430 - val_mae: 55700.5430
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 54363.6211 - mae: 54363.6211 - val_loss: 52595.4883 - val_mae: 52595.4883
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 52021.4258 - mae: 52021.4258 - val_loss: 51254.8984 - val_mae: 51254.8984
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50989.0898 - mae: 50989.0898 - val_loss: 50832.4141 - val_mae: 50832.4141
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50588.3203 - mae: 50588.3203 - val_loss: 50691.8828 - val_mae: 50691.8828
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50411.0742 - mae: 50411.0742 - val_loss: 50636.6875 - val_mae: 50636.6875
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50307.6250 - mae: 50307.6250 - val_loss: 50601.6953 - val_mae: 50601.6953
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50245.0156 - mae: 50245.0156 - val_loss: 50561.3047 - val_mae: 50561.3047
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50186.5625 - mae: 50186.5625 - val_loss: 50533.6211 - val_mae: 50533.6211
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50136.3203 - mae: 50136.3203 - val_loss: 50502.7422 - val_mae: 50502.7422
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50092.3984 - mae: 50092.3984 - val_loss: 50464.8516 - val_mae: 50464.8516
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50050.1250 - mae: 50050.1250 - val_loss: 50447.2617 - val_mae: 50447.2617
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50014.1055 - mae: 50014.1055 - val_loss: 50425.9336 - val_mae: 50425.9336
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49976.8047 - mae: 49976.8047 - val_loss: 50408.9336 - val_mae: 50408.9336
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49946.1641 - mae: 49946.1641 - val_loss: 50388.2539 - val_mae: 50388.2539
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49914.8906 - mae: 49914.8906 - val_loss: 50360.3086 - val_mae: 50360.3086
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49888.3203 - mae: 49888.3203 - val_loss: 50335.3945 - val_mae: 50335.3945
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49862.4375 - mae: 49862.4375 - val_loss: 50309.9141 - val_mae: 50309.9141
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49839.4805 - mae: 49839.4805 - val_loss: 50302.3945 - val_mae: 50302.3945
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49815.1719 - mae: 49815.1719 - val_loss: 50269.8164 - val_mae: 50269.8164
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49799.7344 - mae: 49799.7344 - val_loss: 50268.6484 - val_mae: 50268.6484
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49772.8789 - mae: 49772.8789 - val_loss: 50254.4766 - val_mae: 50254.4766
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49756.4492 - mae: 49756.4492 - val_loss: 50244.8750 - val_mae: 50244.8750
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49736.9609 - mae: 49736.9609 - val_loss: 50239.4219 - val_mae: 50239.4219
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49717.1445 - mae: 49717.1445 - val_loss: 50226.4453 - val_mae: 50226.4453
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49702.8477 - mae: 49702.8477 - val_loss: 50222.3203 - val_mae: 50222.3203
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49686.5273 - mae: 49686.5273 - val_loss: 50221.0938 - val_mae: 50221.0938
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49672.3750 - mae: 49672.3750 - val_loss: 50219.6758 - val_mae: 50219.6758
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49659.0586 - mae: 49659.0586 - val_loss: 50207.4219 - val_mae: 50207.4219
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49643.1172 - mae: 49643.1172 - val_loss: 50204.8750 - val_mae: 50204.8750
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49631.3359 - mae: 49631.3359 - val_loss: 50189.7227 - val_mae: 50189.7227
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49617.0039 - mae: 49617.0039 - val_loss: 50197.5586 - val_mae: 50197.5586
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49608.8086 - mae: 49608.8086 - val_loss: 50194.3047 - val_mae: 50194.3047
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49594.8125 - mae: 49594.8125 - val_loss: 50192.1328 - val_mae: 50192.1328
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49585.2383 - mae: 49585.2383 - val_loss: 50193.9531 - val_mae: 50193.9531
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49572.3477 - mae: 49572.3477 - val_loss: 50192.7227 - val_mae: 50192.7227
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49565.9414 - mae: 49565.9414 - val_loss: 50194.3398 - val_mae: 50194.3398
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49556.1523 - mae: 49556.1523 - val_loss: 50194.8281 - val_mae: 50194.8281
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49546.9258 - mae: 49546.9258 - val_loss: 50198.4062 - val_mae: 50198.4062
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49535.2461 - mae: 49535.2461 - val_loss: 50202.7461 - val_mae: 50202.7461
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49526.0664 - mae: 49526.0664 - val_loss: 50198.0195 - val_mae: 50198.0195

In [27]:
%load_ext tensorboard

In [30]:
%tensorboard --logdir logs_reg/fit

Reusing TensorBoard on port 6006 (pid 2464), started 0:00:25 ago. (Use '!kill 2464' to kill it.)

In [31]:
# Evaluate the model
test_loss,test_mae = model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 900us/step - loss: 50189.7227 - mae: 50189.7227
Test MAE : 50189.72265625

In [32]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [35]:
input_data = {
    'CreditScore':600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'Exited':1
}

In [36]:
input_df = pd.DataFrame([input_data])

In [37]:
geo_encoded = one_hot_encoder.transform(input_df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(
    geo_encoded,
    columns=one_hot_encoder.get_feature_names_out(['Geography'])
)

In [38]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,600,France,1,40,3,60000,2,1,1,1

In [39]:
input_df=pd.concat([input_df.drop(['Geography'],axis=1),geo_encoded_df],axis=1)

In [40]:
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699,  1.96626042,  1.00150113,
        -0.57946723, -0.57638802]])

In [41]:
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step

array([[81551.92]], dtype=float32)

In [42]:
prediction_proba = prediction[0][0]
print(prediction_proba)

81551.92